# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs/
*.log

# Build outputs
build/
dist/
.cache/
.next/
out/

# Coverage
coverage/
.nyc_output/

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
